*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.container{
    max-width: 1000px;
    margin:auto;
}
.row-1::after{
    content: "";
    display: table;
    clear: both;
}

/* main */
.col{
    width: calc(100% / 3 - 8px);
    float: left;
    margin: 0 4px;
}

img{
    width: 100%;
    
}
.product,img{
    position:relative;
}
.heart{
    font-size: 20px;
    padding: 10px;
    position: absolute;
    right: 0%;
    top: 10px;
    background-color: white;

}