*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.container{
    max-width: 1000px;
    margin:auto;
}
.row-1::after{
    content: "";
    display: table;
    clear: both;
}

/* main */
.col{
    width: calc(100% / 3 - 8px);
    float: left;
    margin: 0 4px;
}

img{
    width: 100%;
    display: block;
    
}
.product,img{
    position:relative;
}
/* stickers */
.heart{
    font-size: 20px;
    padding: 10px;
    position: absolute;
    right: 0%;
    top: 10px;
    background-color: white;
}
.discount, .sustainability{
    color: white;
    font-size: 10px;
    position: absolute;
    padding: 5px;
    bottom: 20px;
}
.discount{
    background-color: red;
    left: 0;
}
.sustainability{
    background-color: green;
    left: 35px;
}
/* description */
.brand{
    font-size: 10px;
}
.description{
    /* text-transform: uppercase; */
    font-size: 15;
}
/* price */
.price-after{
    font-size: 15px;
    color: red;
}
.price-before{
    color: black;
    text-decoration: line-through
}
/* changing image */

.product .product-2{
    display: none;
}
.product:hover .product-2{
    display: block;
}
.product:hover .product-1{
    display: none;
}